/* custom start */

img
{
max-width:100%;
height:auto;
}





#pagecontainer
{
position: relative;
height:100%;
}
#topcontentcontainer
{
position:fixed;
left:0px;
top:0px;
width:100%;
z-index:800;
}
#leftmenucontainer
{
position:fixed;
left:0px;
top:0px;
width:12%;
overflow-x:hidden;
height:100%;
z-index:900;
background-color:darkgreen;
}
#leftmenuplaceholder
{
position: relative;
float:left;
width:12%;
height:100%;
}
#leftcontentcontainer
{
position: relative;
float:left;
width:2%;
min-height:100%;
background-color:green;
}
#maincontentcontainer
{
position: relative;
float:left;
width:0%; /* start elese width:0%;  */
height:100%;
background-color: blue;
}
#rightcontentcontainer
{
position: relative;
float:left;
width:0%; /* width:88%; */
min-height:100%;
max-height:100%;
background-color: orange;
}
#rightmenucontainer
{
position:fixed;
right:0px;
top:0px;
width:0%;
overflow-x:hidden;
height:100%;
z-index:500;
background-color: orange;
}
#rightmenuplaceholder
{
position:fixed;
right:0px;
top:0px;
width:12%;
z-index:900;
}




#leftmenucontainer,
#leftmenuplaceholder,
#leftcontentcontainer,
#maincontentcontainer,
#rightcontentcontainer,
#rightmenucontainer,
#rightmenuplaceholder
{
transition: width linear .5s;
}
.item,
#leftcontentcontainer,
.contentbox
{
transition: all linear .5s;
}





/* top content */
#topcontentcontainer,
.topplaceholder,
.togglebox
{
height:120px;
}


#topcontentbox
{
position: relative;
width:60%;
margin:0px auto;
}
#topspace
{
position: relative;
padding:0px 10%;
margin:0p;
background-color: burlywood;
}


#topbar
{
min-width: 480px;
}
#topbar .leftside
{
display: block;
float: left;
width:46%;
}

#topbar .leftside .menubutton,
#topbar .leftside .custom-logo-link
{
display: inline-block;
}

#topbar .rightside
{
display: block;
float: right;
width:54%;
}


#topcontent
{
}
#topcontent #infocontainer
{
display: none;
}
#topcontent #infocontainer.active
{
}
#topcontent #infocontainer #infomenu ul li
{
display:inline-block;
}
#topcontent #infocontainer #infomenu,
#topcontent #infocontainer #infocontent
{
transition: all linear .5s;
}
#topcontent #infocontainer.active #infomenu,
#topcontent #infocontainer.active #infocontent
{
}


/* left content */
#leftmenucontainer .togglebox
{
margin-left:8%;
}
#leftmenucontainer .contentbox
{
position: relative;
width:300px;
margin-left:-400px;
}
#leftcontentcontainer .contentbox
{
position: relative;
width:600px;
margin-left:-700px;
max-height:70%;
}


/* right content */
#rightmenuplaceholder .togglebox
{
margin-left:8%;
}
#rightmenucontainer .contentbox
{
position: relative;
width:400px;
margin-left:100%;
}
#rightmenucontainer .contentbox #tagmenu
{
position: relative;
display: block;
width:90%;
background-color: aqua;
}

/* overview (main) content */
#maincontentcontainer .contentbox
{
width:600px;
margin-right:-100%;
}
#maincontentcontainer .contentbox .item
{
display:none;
}



/* switch button */
#contentswitch
{
position:absolute;
top:30%;
right:-92px;
overflow:visible;
}
#switchbutton
{
margin-right:0px;
height:180px;
width:80px;
}
.leftswapbutton,
.rightswapbutton
{
font-size:17px;
font-weight: bold;
background-color: white;
}
.leftswapbutton
{
display: block;
width:160px;
padding:2px 3px;
height: 30px;
margin-left:-70px;
margin-top:80px;
transform: rotate(-90deg);
z-index: 999;
}
.rightswapbutton
{
display: block;
width:160px;
padding:2px 3px;
height: 20px;
margin-top:-25px;
margin-left:-50px;
transform: rotate(90deg);
z-index: 999;
}




/* tagbuttons */
.tagbutton
{
padding:0;
display: inline-block;
text-decoration:none;
margin-right:3px;
}
.tagbutton:before
{
content: '#';
}
.tagbutton.selected
{
font-weight:bold;
}
#rightmenucontainer .contentbox > .tagbutton.selected
{
display:none;
}



/* item globals content */
.item.menubutton .itemcontent .coverimage,
.item.menubutton .itemcontent .mediaplaceholder,
.item.menubutton .itemcatbox,
.practice .item .itemcatbox,
.item.menubutton .itemtagbox,
.item.menubutton .infotoggle,
.item.overviewcontent .author,
.overview #rightcontentcontainer .item .author,
.overview #rightcontentcontainer .item .itemtagbox,
.theory #rightcontentcontainer .item .author,
.theory #rightcontentcontainer .item .itemtagbox,
.practice #rightcontentcontainer .item .author,
.item .button
{
display:none;
}
.item.selected .button,
.item.itemcontent .author
{
display: block;
}


/* Practice items */
.practice #rightcontentcontainer .item
{
position: relative;
float:left;
}



/* Practice item sizes */
.practice #rightcontentcontainer .item.size-s
{
width:20%;
}
.practice #rightcontentcontainer .item.portrait.size-s
{
width:15%;
background-color:red;
}
.practice #rightcontentcontainer .size-s .mediaplaceholder
{
min-height:240px;
}
.practice #rightcontentcontainer .item.size-m
{
width:30%;
}
.practice #rightcontentcontainer .item.portrait.size-m
{
width:25%;
}
.practice #rightcontentcontainer .size-m .mediaplaceholder
{
min-height:320px;
}
.practice #rightcontentcontainer .item.size-l
{
width:45%;
}
.practice #rightcontentcontainer .item.portrait.size-l
{
width:30%;
}
.practice #rightcontentcontainer .size-l .mediaplaceholder
{
min-height:360px;
}
.practice #rightcontentcontainer .item.selected
{
width:50%;
}

.practice #rightcontentcontainer .item.landscape.selected
{
width:55%;
}
.practice #rightcontentcontainer .item.portrait.selected
{
width:50%;
}
.practice #rightcontentcontainer .selected .mediaplaceholder
{
min-height:420px;
}

.practice .item .itemcontent .intro .coverimage .stage
{
position: relative;
}

.practice .item .itemcontent .intro .coverimage .stage img
{
width:100%;
}


.item .itemcontent .intro .title h3,
.item .itemcontent .intro .matchweight
{
display: inline-block;
}
.mediaplaceholder
{
text-align: center;
color:white;
background-color:black;
}
.mediaplaceholder h3
{
padding:30% 0px;
}

.item .infotoggle.button
{
position:absolute;
right:0px;
top:0px;
width:6%;
text-align:center;
font-size:50px;
}
.item .main
{
display:none;
}
.item .main.active
{
position:absolute;
display: block;
left:0px;
top:0px;
width:94%;
padding:6px 3px;
color: black;
background-color:white;
border-bottom:5px solid black;
}
.item .optionfullscreen.button
{
position:absolute;
right:0px;
bottom:0px;
font-size:50px;
color:white;
}

.practice #rightcontentcontainer .item.selected .stage,
.practice #rightcontentcontainer .item.selected .mediaplaceholder
{
position: relative;
width:94%;
}




/* overview items */
.overview #maincontentcontainer .contentbox
{
}
.overview #maincontentcontainer .contentbox .item
{
display:block;
width:94%;
}

.overview #maincontentcontainer .infotoggle
{
display: block;
}



/* Theory items */
.theory #leftcontentcontainer .contentbox
{
}
.theory #leftcontentcontainer .contentbox .item,
.theory #leftcontentcontainer .contentbox .item .itemcontent,
.theory #leftcontentcontainer .contentbox .item .itemcontent .coverimage .stage img
{
display:block;
width:100%;
margin:0px auto;
}
/*
.theory #leftcontentcontainer .contentbox .item.portrait .intro
{
width:50%;
float:left;
}
*/
.theory #leftcontentcontainer .contentbox .item.landscape
{

}
.theory #leftcontentcontainer .contentbox .item .main
{
position:relative;
display: block;
}
.theory #leftcontentcontainer .contentbox .button
{
display: none;
}


/* moderate */
.moderate
{
display: inline-block;
background-color:blue;
color:white;
font-size:25px;
}







/* Frame elements */
#leftcontentcontainer .contentbox,
#maincontentcontainer .contentbox,
#rightcontentcontainer .contentbox
{
background-color: cornflowerblue;
}

/* Frame elements overview */
.overview #maincontentcontainer
{
width:86%; /* width:0%; overflow-x:hidden;*/
}
.overview #maincontentcontainer .contentbox
{
display: block;
position: relative;
min-height:480px;
height:60%;
max-height:560px;
float:right;
width:69.8%;
margin-right:23.2%;
}
.overview #maincontentcontainer .slidebar
{

display: block;
position: relative;
width:90%;
margin-left:8%;
}
.overview #maincontentcontainer .leftslidenav,
.overview #maincontentcontainer .rightslidenav
{
position:absolute;
top:0px;
margin-top:22%;
width:40px;
height:40px;
background-color:aqua;

}

.overview #maincontentcontainer .leftslidenav
{
left:-1%;
}
.overview #maincontentcontainer .rightslidenav
{
right:-1%;
}

.overview #rightcontentcontainer
{
position:relative;
float:right;
width:0%;
overflow:hidden;
}

.overview #leftcontentcontainer .contentbox,
.overview #rightcontentcontainer .contentbox
{
width:800px;
margin-left:-900px;
}

.overview.articlemenu #maincontentcontainer
{
width:78%; /* width:0%; overflow-x:hidden;*/
float:right;
}
.overview.articlemenu #maincontentcontainer .contentbox
{
float:right;
width:76%;
margin-right:20%;
}

/* Frame elements practice */
.practice #rightcontentcontainer
{
position:relative;
float:right;
max-height:none;
width:86%; /* width:0%; overflow-x:hidden;*/
}
.practice #rightcontentcontainer .contentbox
{
float:right;
width:94%;
margin-right:3%;
}
.practice.articlemenu #rightcontentcontainer
{
width:78%; /* width:0%; overflow-x:hidden;*/
float:right;
}
.practice #leftcontentcontainer
{
position: fixed;
top:0px;
left:12%;
min-height:100%;
z-index: 400;
}
.practice.articlemenu #leftcontentcontainer
{
left:20%;
}
.practice #leftcontentcontainer .contentbox
{
height:600px;
width:800px;
margin-left:-900px;
overflow-y:auto;
}
.practice #maincontentcontainer .contentbox
{
height:600px;
width:600px;
margin-left:-2400px;
}

/* Frame elements theory */
.theory #leftcontentcontainer
{
position: relative;
/*overflow-y: auto;*/
height:100%;
float:left;
width:66%; /* width:0%; overflow-x:hidden;*/
}
.theory #leftcontentcontainer .contentbox
{
float:left;
width:92%;
max-height:70%;
margin-left:4%;
overflow-y:auto;
/*
float:right;
width:80%;
margin-right:8%;
*/
}
.theory.articlemenu #leftcontentcontainer
{
width:58%; /* width:0%; overflow-x:hidden;*/
float:left;
}
.theory.articlemenu #leftcontentcontainer .contentbox
{
/*
float:left;
width:92%;
margin-left:4%;
*/
}
.theory #rightcontentcontainer
{
position:fixed;
top:0px;
right:0px;
/*float:right;*/
height:100%;
overflow-y: auto;
width:22%;
}
.theory #rightcontentcontainer .contentbox
{
float:right;
width:82%;
margin-right:8%;
}


/* filtermenu */
.filtermenu #rightmenuplaceholder
{
width:18%;
}
.filtermenu #rightmenucontainer
{
width:18%;
}
.filtermenu #rightmenucontainer .contentbox
{
width:84%;
margin-left:8%;
}

/* articlemenu */

.articlemenu #leftmenucontainer
{
width:20%;
}
.articlemenu #leftmenuplaceholder
{
width:20%;
}
.articlemenu #leftmenucontainer .togglebox
{
}
.articlemenu #leftmenucontainer .contentbox
{
height:auto;
margin-left:8%;
}
